<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden Products</title>
    <script src="https://kit.fontawesome.com/25e0ec152b.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body class="d-flex h-100 text-center text-bg-dark flex-column">
    <nav class="navbar navbar-expand-xl navbar_fixed fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand logo" href="#">
            <span class= "green_01">G</span>
            <span class= "green_02">A</span>
            <span class= "green_03">R</span>
            <span class= "green_04">D</span>
            <span class= "green_05">E</span>
            <span class= "green_06">N</span> 
            <span class= "products">Products</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- <span class="bold broj_tlf"><i class="fa-solid fa-phone"></i> +381 64 44 67 777</span> -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item"><a href="#" class="nav-link px-2 ">Početna</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">O nama</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">Najčešća pitanja</a></li>
            </ul>
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0 kontakt_section">
              <li><i class="fa-solid fa-phone"></i><span>+381 64 44 67 777</span>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    

      <section class = "section_one">
        <div class="content-container" style="margin-top: 100px;">
            <h2 class="bold">
                Ograde
            </h2>
            <div class="container_cards">
                <div class="card card_custom" style="width: 20rem;">
                    <a>
                        <img src="ograde/img_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Ograda</h5>
                            <hr>
                            <p class="card-text">Od: 10 €</p>
                        </div>
                    </a>
                </div>
                <div class="card card_custom" style="width: 20rem;">
                    <a>
                        <img src="ograde/img_2.jpg" class="card-img-top" alt="...">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Ograda</h5>
                            <hr>
                            <p class="card-text">Od: 10 €</p>
                        </div>
                    </a>
                </div>
                <div class="card card_custom" style="width: 20rem;">
                    <a>
                        <img src="ograde/img_3.jpg" class="card-img-top" alt="...">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Ograda</h5>
                            <hr>
                            <p class="card-text">Od: 10 €</p>
                        </div>
                    </a>
                </div>
                <div class="card card_custom" style="width: 20rem;">
                    <a>
                        <img src="ograde/img_4.jpg" class="card-img-top" alt="...">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Ograda</h5>
                            <hr>
                            <p class="card-text">Od: 10 €</p>
                        </div>
                    </a>
                </div>
                <div class="card card_custom" style="width: 20rem;">
                    <a>
                        <img src="ograde/img_5.jpg" class="card-img-top" alt="...">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Ograda</h5>
                            <hr>
                            <p class="card-text">Od: 10 €</p>
                        </div>
                    </a>
                </div>
                <div class="card card_custom" style="width: 20rem;">
                    <a>
                        <img src="ograde/img_6.jpg" class="card-img-top" alt="...">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Ograda</h5>
                            <hr>
                            <p class="card-text">Od: 10 €</p>
                        </div>
                    </a>
                </div>
                <div class="card card_custom" style="width: 20rem;">
                    <a>
                        <img src="ograde/img_7.jpg" class="card-img-top" alt="...">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Ograda</h5>
                            <hr>
                            <p class="card-text">Od: 10 €</p>
                        </div>
                    </a>
                </div>
                <div class="card card_custom" style="width: 20rem;">
                    <a>
                        <img src="ograde/img_8.jpg" class="card-img-top" alt="...">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Ograda</h5>
                            <hr>
                            <p class="card-text">Od: 10 €</p>
                        </div>
                    </a>
                </div>
                <div class="card card_custom" style="width: 20rem;">
                    <a>
                        <img src="ograde/img_9.jpg" class="card-img-top" alt="...">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Ograda</h5>
                            <hr>
                            <p class="card-text">Od: 10 €</p>
                        </div>
                    </a>
                </div>
                <div class="card card_custom" style="width: 20rem;">
                    <a>
                        <img src="ograde/img_10.jpg" class="card-img-top" alt="...">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Ograda</h5>
                            <hr>
                            <p class="card-text">Od: 10 €</p>
                        </div>
                    </a>
                </div>
                <div class="card card_custom" style="width: 20rem;">
                    <a>
                        <img src="ograde/img_11.jpg" class="card-img-top" alt="...">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Ograda</h5>
                            <hr>
                            <p class="card-text">Od: 10 €</p>
                        </div>
                    </a>
                </div>
                <div class="card card_custom" style="width: 20rem;">
                    <a>
                        <img src="ograde/img_12.jpg" class="card-img-top" alt="...">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Ograda</h5>
                            <hr>
                            <p class="card-text">Od: 10 €</p>
                        </div>
                    </a>
                </div>
                <div class="card card_custom" style="width: 20rem;">
                    <a>
                        <img src="ograde/img_13.jpg" class="card-img-top" alt="...">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Ograda</h5>
                            <hr>
                            <p class="card-text">Od: 10 €</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="content-container">
            <h2 class="bold">
                Žardinjere
            </h2>
            <div class="container_cards">
                <div class="card card_custom" style="width: 20rem;">
                    <a>
                        <img src="img_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Ograda 1</h5>
                            <hr>
                            <p class="card-text">Od: 10 €</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        
        <div class="content-container">
            <h2 class="bold">
                Stolovi
            </h2>
            <div class="container_cards">
                <div class="card card_custom" style="width: 20rem;">
                    <a>
                        <img src="img_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Ograda 1</h5>
                            <hr>
                            <p class="card-text">Od: 10 €</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="content-container">
            <h2 class="bold">
                Stolovi
            </h2>
            <div class="container_cards">
                <div class="card card_custom" style="width: 20rem;">
                    <a>
                        <img src="img_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Ograda 1</h5>
                            <hr>
                            <p class="card-text">Od: 10 €</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="content-container">
            <h2 class="bold">
                Kombinacije
            </h2>
            <div class="container_cards">
                <div class="card card_custom" style="width: 20rem;">
                    <a>
                        <img src="img_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">Ograda 1</h5>
                            <hr>
                            <p class="card-text">Od: 10 €</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
      </section>


    <div class="b-example-divider"></div>

    <div class="container">
        <footer class="py-3 my-4 footer">
        <ul class="nav justify-content-center border_bottom pb-3 mb-3">
            <li class="nav-item"><a href="{% url 'home'%}" class="nav-link px-2 gray">Početna</a></li>
            <li class="nav-item"><a href="{% url 'o_nama'%}" class="nav-link px-2 gray">O nama</a></li>
            <li class="nav-item"><a href="{% url 'faq'%}" class="nav-link px-2 gray">Najčešća pitanja</a></li>
            <!-- <li class="nav-item"><a href="#" class="nav-link px-2 gray">Uslovi korišćenja</a></li> -->
            <li class="nav-item nav-link px-2 gray">Ponedeljak - petak: 8 - 17h</li>
        </ul>
        <p class="text-center gray">&copy;  2023 Garden Products Retail d.o.o. Sva prava zadržana.</p>
        </footer>
    </div>
</body>
</html>